<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/cv.css' rel="stylesheet" type="text/css">
    {% include common/favicon.html %}
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    <header class="section" data-name="bio">

        {% include common/notices.html %}

        <div class="headings animated fadeInLeft">
            {% if site.home.section1 %}{{ site.home.section1 }}{% endif %}
            {% if site.cv.section1 %}{{ site.cv.section1 }}{% endif %}
        </div>
    </header>
    <article>
        <!--
        
        WORK EXPERIENCE
        
        -->
        <section class="section cv">
            <h3>Work Experience</h3>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2021 - Current</span>
                    <span class="col-right">
                        <span class="main-span">Consultant - IT-Security Tester</span>
                        <span class="support-span">Knowit Cybersecurity and Law</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
                <div class="row">
                    <p class="col-right">
                        Managed the end-to-end security testing lifecycle, from initial scope meetings and assignment planning to the execution of security tests and report walkthroughs. Areas of test included web applications, mobile applications, infrastructure and telecom 5G Core.

                        Lead for the internal work planning for team members between assignments. Contributed to the business development forum.
                </div>
            </section>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2017 - 2021</span>
                    <span class="col-right">
                        <span class="main-span">Consultant - Apigee Specialist & Tech Lead</span>
                        <span class="support-span">Octacon</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
                <div class="row">
                    <p class="col-right">
                        Apigee API Gateway Tech Lead within a 6-person team (2 Apigee specialists) overseeing the full lifecycle of development, maintenance, and developer support for the platform at Telenor. As Tech Lead, spearheaded the migration of Apigee from on-premise to cloud to increase platform stability. Managed cost forecasting, risk assessments and incident resolution as part of the Tech Lead role.
                </div>
            </section>
        </section>
        <!--
        
        EDUCATION
        
        -->
        <section class="section cv">
            <h3>Education</h3>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2014-2017</span>
                    <span class="col-right">
                        <span class="main-span">IT-Security</span>
                        <span class="support-span">Blekinge Institute of Technology</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
                <div class="row">
                    <p class="col-right">
                        145/180 HP
                    </p>
                </div>
            </section>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2011-2014</span>
                    <span class="col-right">
                        <span class="main-span">Technology</span>
                        <span class="support-span">Teknikum</span>
                        <span class="support-span">Växjö</span>
                    </span>
                </h4>
            </section>
        </section>
        <!--
        
        CERTIFICATES
        
        -->
        <section class="section cv">
            <h3>Certificates</h3>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2021, 2024</span>
                    <span class="col-right main-span">Comptia Pentest+</span>
                </h4>
            </section>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2017</span>
                    <span class="col-right main-span">Apigee</span>
                </h4>
            </section>
        </section>
        <!--
         
         Competence Development
         
         -->
        <section class="section cv">
            <h3>Competence Development</h3>
            <section>
                <details class="col-right">
                    <summary>
                        <h4 class="row">
                            <span>Books</span>
                        </h4>
                    </summary>
                    <div>
                        <p>
                            Collection of books read in security area that is worth while to mention.
                            <ul>
                                <li>How to Measure Anything In Cybersecurity</li>
                                <li>Intrusion Detection Honeypots</li>
                            </ul>
                        </p>
                    </div>
                </details>
            </section>

            <section>  
                <details class="col-right">
                    <summary>
                        <h4 class="row">
                            <span>Hack the Box Academy</span>
                        </h4>
                    </summary>
                    <div>
                        <p>
                            Collection of badges earned in Hack the Box Academy.
                            <ul>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/9e07e91b-1b6e-11f0-864f-bea50ffe6cb4"> Intro to Academy</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/9e67e34c-6025-11f0-bcfd-bea50ffe6cb4"> Learning Process</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/f849abcb-9ffd-11ee-bfb6-bea50ffe6cb4"> Linux Fundamentals</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/adfc8e37-a947-11ee-bfb6-bea50ffe6cb4"> Windows Fundamentals</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/6ae0107c-e9f7-11ef-864f-bea50ffe6cb4"> Network Enumeration with Nmap</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/8cc83f1b-c035-11ee-a670-bea50ffe6cb4"> Active Directory LDAP</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/16fa800d-4777-11f0-bcfd-bea50ffe6cb4"> File Inclusion</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/48b665d0-29c0-11f0-bcfd-bea50ffe6cb4"> Introductions to Web Applications</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/3a83342e-3c9b-11f0-bcfd-bea50ffe6cb4"> Web Attacks</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/20effaf8-291b-11f0-864f-bea50ffe6cb4"> Information Gathering - Web Edition</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/4c058cfc-5048-11f0-bcfd-bea50ffe6cb4"> Abusing HTTP Misconfigurations</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/44137ff0-1b6c-11f0-864f-bea50ffe6cb4"> Footprinting</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/2b73ae30-5f21-11f0-bcfd-bea50ffe6cb4"> Shells & Payloads</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/fcc667f7-2293-11f0-864f-bea50ffe6cb4"> Attacking Common Services</a></li> 
                                <li><a href="https://academy.hackthebox.com/achievement/badge/60aa7c37-67cc-11f0-bcfd-bea50ffe6cb4"> Cross-Site Scripting (XSS)</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/517da0d9-72fa-11f0-9254-bea50ffe6cb4"> Vulnerability Assessment</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/dd8dd641-793d-11f0-9254-bea50ffe6cb4"> Web Fuzzing</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/cf2c050e-7df3-11f0-9254-bea50ffe6cb4"> Attacking Web Applications with Ffuf</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/1a9dbcf8-9f9b-11f0-9254-bea50ffe6cb4"> File Upload Attacks</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/8dfeaefb-9ec4-11f0-9254-bea50ffe6cb4"> HTTP Attacks</a></li>
                                <li><a href="https://academy.hackthebox.com/achievement/badge/c6a1e8af-adcd-11f0-9254-bea50ffe6cb4"> Command Injections</a></li>
                            </ul>
                        </p>
                    </div>
                </details>
            </section>
        </section>
        <!--

        ELECTED REPRESENTATIVE

        -->
        <section class="section cv">
            <h3>Elected Representative</h3>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2021-2023</span>
                    <span class="col-right">
                        <span class="main-span">Treasurer</span>
                        <span class="support-span">Mammas Källare</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
                <div class="row">
                    <div class="col-left"></div>
                    <p class="col-right">
                        Mammas Källare is an association in Karlskrona that mostly aimed at students. Thoe organization hosts LAN parties tournaments and bourd game nights. 
                </div>
            </section>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2020-2020</span>
                    <span class="col-right">
                        <span class="main-span">Auditor</span>
                        <span class="support-span">Mammas Källare</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
            </section>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2016-2017</span>
                    <span class="col-right">
                        <span class="main-span">Member of the Board</span>
                        <span class="support-span">Mammas Källare</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
            </section>
            <section>
                <h4 class="row">
                    <span class="col-left support-span">2015-2017</span>
                    <span class="col-right">
                        <span class="main-span">Crew</span>
                        <span class="support-span">WonderLAN</span>
                        <span class="support-span">Karlskrona</span>
                    </span>
                </h4>
                <div class="row">
                    <div class="col-left"></div>
                    <p class="col-right">
                        WonderLAN is a LAN party hosted by Mammas Källare. Began working in the kiosk and progressed to lead for the technical parts of the event.  
                    </p>   
                </div>
            </section>
        </section>
        <!--
        
        LANGUAGES
        
        -->
        <section class="section cv">
            <h3>Languages</h3>
            <section>
                <h4 class="col-left language">Swedish</h4>
                <p class="col-right language">Native (C2)</p>
            </section>
            <section>
                <h4 class="col-left language">English</h4>
                <p class="col-right language">Advanced (C1)</p>
            </section>
        </section>
    </article>

    <div class="section">
        <div class="social-links">
            {% if site.author.email %}
             <a class="btn-light ico-gmail" href="mailto:{{ site.author.email }}" rel="me" target="_blank" title="email"></a>
            {% endif %}
            {% for link in site.author.social_links %}
                {% if link.url %}
                    <a class="btn-light ico-{{ link.name }}" href="{{ link.url }}" rel="me" target="_blank" title="{{ link.name }}"></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>
